@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", "Noto Mono", "Oxygen Mono", Courier, monospace;
  background-color: #282A36;
}

body {
  /* color: #8492B1; */
  color: white;
  line-height: 1.5;
}

header {
  padding: 30px 0px 30px 0px;
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen Mono', monospace;
  text-transform: uppercase;
}

img {
  max-width:100%;
  transition: all 1s ease-out;
}

img:hover, img:focus {
  border: 15px solid red;
}

blockquote {
  font-size: 22px
}

nav a {
  color: #BD93F2;
  font-weight: bold;
  padding: 0px 10px 0px;
  text-transform: uppercase;
  transition: all 1s ease-out;
}

a:hover, a:focus {
  background-color: #BD93F2;
  color: #282A36;
}

section a {
  color: #BD93F2;
}

ul a {
  color: white;
}

li:nth-child(odd) {
  color: #6BE5FD;
}

li:nth-child(even) {
  color: #FF79C0;
}

ul {
  padding-left: 20px;
}

.grey {
  color: #8492B1;
}

.green {
  color: #50FA78;
}

.pink {
  color: #FF79C0;
}

.blue {
  color: #6BE5FD;
}

.container {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.article-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

.swidth {
  width: 25%;
  margin-left: auto;
  /* margin-left push to the right!!! */
}

.mainwidth {
  width: 70%;
}

.center {
  text-align: center;
  margin: auto;
}

.fa-facebook-square, .fa-linkedin, .fa-instagram, .fa-weixin  {
  font-size: 2.5em
}

.fa-d-and-d {
  font-size: 10em
}
