@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", "Noto Mono", "Oxygen Mono", Courier, monospace;
  background-color: #282A36;
}

body {
  /* color: #8492B1; */
  color: white;
  line-height: 1.5;
}

header {
  padding: 30px 0px 30px 0px;
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen Mono', monospace;
  text-transform: uppercase;
}

img {
  max-width:100%;
}

blockquote {
  padding: 0px;
  font-size: 22px
}

footer {
  clear: both;
  color: white;
  padding: 30px 0px 30px 0px;
}

nav a {
  color: #BD93F2;
  font-weight: bold;
  padding: 0px 10px 0px;
}

section a {
  color: #BD93F2;
}

ul a {
  color: white;
}

ul {
  padding-left: 20px;
}

.container {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.article-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

.swidth {
  width: 25%;
  margin-left: auto;
  /* margin-left push to the right!!! */
}

.margin-left0 {
  margin-left: 0px;
}

.mainwidth {
  width: 70%;
}

.center {
  text-align: center;
  margin: auto;
}

.fa-facebook-square, .fa-linkedin, .fa-instagram, .fa-weixin  {
  font-size: 2.5em
}

.fa-d-and-d {
  font-size: 10em
}
