* {
box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

header {
  background-color: DeepSkyBlue;
  padding: 30px 0px 30px 100px;
  color: white;
}

header h1 {
  font-size: 30pt;
}

header h2 {
  font-style: italic;
  font-size: 20pt;
}

.blue {
  color: DeepSkyBlue;
}

nav.header {
  background-color: Gainsboro ;
  padding: 20px 0px 20px 90px;
}

nav a {
  text-decoration: none;
  color: Black;
  font-weight: bold;
  padding: 0px 10px 0px;
}

aside a {
  text-decoration: none;
}

article {
  width: 1150px;
}

article aside {
  float: right;
}

.swidth {
  width: 300px;
}

.float-left {
  float: left;
}

.margin-left0 {
  margin-left: 0px;
}

blockquote {
  padding: 0px;
  font-size: 22px
}

.mainwidth {
  padding: 0px 0px 0px 100px;
  width: 800px;
}

footer {
  clear: both;
  background-color: #363636;
  color: white;
  padding: 30px 0px 30px 0px;
}

footer a, nav.footer {
  background-color: #363636;
  color: white;
}

.center {
  text-align: center;
  margin: auto;
}
